* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d4af37;
    background-color: black !important;
    scroll-behavior: smooth;
}

nav {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
    background-color: #000000 !important;
    min-height: 8vh;
    box-shadow: 0 4px 8px 0 rgba(194, 159, 3, 0.2);
}

.logo {
    text-transform: uppercase;
    color: azure !important;
    letter-spacing: 5px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: azure !important;
}

.nav-links a {
    text-decoration: none !important;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 14px;
    color: azure !important;
}

.nav-links li {
    list-style-type: none !important;
    padding-top: 10px;
}

.burger {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #0f0f0f;
    font-size: 24px;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #d4af37 !important;
    margin: 6px;
}

ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: #d4af37 !important;
    transition: transform 0.9s;
    transform: scaleX(0);
    transform-origin: right;
}

ul li a:hover {
    color: #d4af37 !important;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.home-img {
    width: 50%;
    height: 50%;
    transition: ease .5s;
}

.home-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.title-col-home {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
}

#about {
    padding-top: 60px;
}

.about-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about-row {
    padding-top: 50px;
}

.about-col {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(194, 159, 3, 0.2);
}

.about-col:hover {
    box-shadow: 0 8px 16px 0 rgba(167, 136, 3, 0.432);
}

.about-content-title {
    color: whitesmoke;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
}

.about-content-info {
    color: whitesmoke;
    text-align: justify;
    opacity: 70%;
    padding-top: 30px;
}

.about-content-info span {
    font-size: 25px;
    color: #d4af37;
}

.heading-underline {
    background-color: #d4af37 !important;
    width: 20%;
    margin-left: 40%;
    transition: ease-in 4s;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        display: none;
    }
    .nav-links {
        position: relative;
        right: 0px;
        min-height: 10vh;
        margin-top: 44px;
        text-align: center;
        width: 100%;
        padding-bottom: 40px;
    }
    .burger {
        display: block;
        background-color: #0f0f0f;
        transition: .5s;
    }
}